

.panelTopBar {
    border-radius: 0;
    border: 1px solid #E7EAEC;
    border-bottom: 1px solid rgba(0,0,0,0.17);    
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    background-color: #f3f3f3;    
}

.pnlBodyBar
{
padding: 10px 10px 10px;
display: inline-block;
}


.pnlSideTitle
{
padding: 10px 10px 10px;
}


.pnlSideTitleMin
{
  background-color: #fcfcfc; 
  height:80px; 
  padding:10px; 
  font-size: 20px;
}


.sidenavmin {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    /*padding-top: 10px;*/
}

.sidenavmin a {
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenavmin a i {
  font-size: 20px;
}


.sidenavmin a span {
  display: none;
}

.sidenavmin a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    /*padding-top: 10px;*/
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s
}



.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#pnlMain {
    transition: margin-left .5s;
    padding: 0px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}